In [1]:
import numpy as np
import pandas as pd

from board import Board

In [2]:
df = pd.DataFrame.from_csv('hidden_singles.tsv', sep='\t')

In [3]:
df

                     board  digit  filled    type  x  y
0     2.2.0003000000100100      1       1     row  0  0
1     2.2.0000001000014000      1       1  column  0  0
2     2.2.0004000000100100      1       1     row  0  0
3     2.2.0000200000000100      1       1  column  0  0
4     2.2.0300001000000001      1       1     row  0  0
5     2.2.0000000120000100      1       1  column  0  0
6     2.2.0040000000010100      1       1     row  0  0
7     2.2.0000000101003000      1       1  column  0  0
8     2.2.0020000101000000      1       1     row  0  0
9     2.2.0000001000013000      1       1  column  0  0
10    2.2.0000300001000010      1       1  column  0  0
11    2.2.0200001000000000      1       1     row  0  0
12    2.2.0000000101004000      1       1  column  0  0
13    2.2.0020000000010100      1       1     row  0  0
14    2.2.0000001001004000      1       1  column  0  0
15    2.2.0300001000010000      1       1     row  0  0
16    2.2.0000300000010100      1       1  column  0  0
17    2.2.0002001001000000      1       1     row  0  0
18    2.2.0000000100104000      1       1  column  0  0
19    2.2.0030000100000100      1       1     row  0  0
20    2.2.0000000140000100      1       1  column  0  0
21    2.2.0000000130000010      1       1  column  0  0
22    2.2.0040000100000100      1       1     row  0  0
23    2.2.0000000100103000      1       1  column  0  0
24    2.2.0002000000100100      1       1     row  0  0
25    2.2.0300000100000010      1       1     row  0  0
26    2.2.0000400000100100      1       1  column  0  0
27    2.2.0000000120000010      1       1  column  0  0
28    2.2.0020000100000100      1       1     row  0  0
29    2.2.0200000100000000      1       1     row  0  0
...                    ...    ...     ...     ... .. ..
9140  2.2.0000000000004320      1       3     row  3  3
9141  2.2.0004000200030000      1       3  column  3  3
9142  2.2.0002000400030000      1       3  column  3  3
9143  2.2.0004000300020000      1       3  column  3  3
9144  2.2.0000000000002430      1       3     row  3  3
9145  2.2.0000000000004230      1       3     row  3  3
9146  2.2.0000000000001340      1       3     row  3  3
9147  2.2.0003000100040000      1       3  column  3  3
9148  2.2.0000000000004130      1       3     row  3  3
9149  2.2.0001000300040000      1       3  column  3  3
9150  2.2.0000000000003140      1       3     row  3  3
9151  2.2.0004000300010000      1       3  column  3  3
9152  2.2.0001000400030000      1       3  column  3  3
9153  2.2.0000000000004310      1       3     row  3  3
9154  2.2.0003000400010000      1       3  column  3  3
9155  2.2.0000000000003410      1       3     row  3  3
9156  2.2.0004000100030000      1       3  column  3  3
9157  2.2.0000000000001430      1       3     row  3  3
9158  2.2.0000000000004120      1       3     row  3  3
9159  2.2.0004000100020000      1       3  column  3  3
9160  2.2.0000000000004210      1       3     row  3  3
9161  2.2.0002000100040000      1       3  column  3  3
9162  2.2.0000000000002410      1       3     row  3  3
9163  2.2.0000000000001420      1       3     row  3  3
9164  2.2.0001000400020000      1       3  column  3  3
9165  2.2.0000000000001240      1       3     row  3  3
9166  2.2.0000000000002140      1       3     row  3  3
9167  2.2.0004000200010000      1       3  column  3  3
9168  2.2.0002000400010000      1       3  column  3  3
9169  2.2.0001000200040000      1       3  column  3  3

[9170 rows x 6 columns]

In [15]:
def one_hotify_board_string(board_string):
    dim_x, dim_y, board = board_string.split('.')
    max_digit = int(dim_x) * int(dim_y)
    vector = np.zeros((max_digit*len(board),))
    for i in range(len(board)):
        if board[i] != '0':
            vector[i*max_digit + int(board[i]) - 1] = 1
    return vector

In [17]:
one_hotify_board_string('2.2.0300000100000010')

64

In [ ]:
class Linear(nn.Module):
    def __init__(self, max_digit):
        super(Sequence, self).__init__()
        self.max_digit = max_digit
        self.linear = nn.Linear(self.max_digit**3, self.max_digit**3)

    def forward(self, X):
        
        print(input.size())
        for input_t in input.chunk(input.size(1), dim=1):
            print(input_t.size())
            assert(False)
            h_t, c_t = self.lstm1(input_t, (h_t, c_t))
            h_t2, c_t2 = self.lstm2(h_t, (h_t2, c_t2))
            output = self.linear(h_t2)
            outputs += [output]
        for i in range(future):# if we should predict the future
            h_t, c_t = self.lstm1(output, (h_t, c_t))
            h_t2, c_t2 = self.lstm2(h_t, (h_t2, c_t2))
            output = self.linear(h_t2)
            outputs += [output]
        outputs = torch.stack(outputs, 1).squeeze(2)
        return outputs